<?xml version='1.0' encoding='UTF-8' ?> 
<!-- was: <?xml version="1.0"?> -->
<config>
    <modules>
        <Morphes_Backgroundslider>
            <version>0.1.0</version>
        </Morphes_Backgroundslider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <backgroundslider>
                    <file>background.xml</file>
                </backgroundslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <backgroundslider>
                <use>admin</use>
                <args>
                    <module>Morphes_Backgroundslider</module>
                    <frontName>backgroundslider</frontName>
                </args>
            </backgroundslider>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <morphes>
                <title>Intex</title>
                <sort_order>79</sort_order>
                <children>	
                    
                    <backgroundslider translate="title" module="backgroundslider">
                        <title>Слайдер</title>
                        <action>backgroundslider/adminhtml_backgroundslider</action>
                    </backgroundslider>
                                            
                </children>
            </morphes>	
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <backgroundslider translate="title">
                                    <title>backgroundslider</title>
                                    <sort_order>1600</sort_order>
                                </backgroundslider>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <backgroundslider>
                <class>Morphes_Backgroundslider_Model</class>
                <resourceModel>backgroundslider_mysql4</resourceModel>
            </backgroundslider>
            <backgroundslider_mysql4>
                <class>Morphes_Backgroundslider_Model_Mysql4</class>
                <entities>
                    <backgroundslider>
                        <table>background_info_slider</table>
                    </backgroundslider>
                </entities>
            </backgroundslider_mysql4>
        </models>
        <resources>
            <backgroundslider_setup>
                <setup>
                    <module>Morphes_Backgroundslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </backgroundslider_setup>
            <backgroundslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </backgroundslider_write>
            <backgroundslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </backgroundslider_read>
        </resources>
        <blocks>
            <backgroundslider>
                <class>Morphes_Backgroundslider_Block</class>
            </backgroundslider>
            <page>
                <rewrite>
                    <html>Morphes_Backgroundslider_Block_Html</html>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <backgroundslider>
                <class>Morphes_Backgroundslider_Helper</class>
            </backgroundslider>
        </helpers>
    </global>
	
</config>
