<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Morphes_CheckoutComment>
            <version>0.1.1</version>
        </Morphes_CheckoutComment>
    </modules>
    <global>
        <helpers>
            <checkoutcomment>
                <class>Morphes_CheckoutComment_Helper</class>
            </checkoutcomment>
        </helpers>
        <blocks>
            <checkoutcomment>
                <class>Morphes_CheckoutComment_Block</class>
            </checkoutcomment>
        </blocks>
        <models>
            <checkoutcomment>
                <class>Morphes_CheckoutComment_Model</class>
            </checkoutcomment>
        </models>
        <fieldsets>
            <sales_convert_quote_address>
                <customer_notes><to_order>customer_note</to_order></customer_notes>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <frontend>
        <events>
			<checkout_controller_onepage_save_shipping_method>
                <observers>
                    <checkoutcomment_save_comment>
                        <type>singleton</type>
                        <class>checkoutcomment/observer</class>
                        <method>saveComment</method>
                    </checkoutcomment_save_comment>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <translate>
            <modules>
                <Morphes_CheckoutComment>
                    <files>
                        <default>Morphes_CheckoutComment.csv</default>
                    </files>
                </Morphes_CheckoutComment>
            </modules>
        </translate>
        <layout>
            <updates>
                <checkoutcomment module="Morphes_CheckoutComment">
                    <file>morphes/checkoutcomment.xml</file>
                </checkoutcomment>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Morphes_CheckoutComment>
                    <files>
                        <default>Morphes_CheckoutComment.csv</default>
                    </files>
                </Morphes_CheckoutComment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <checkout>
            <mbcheckoutcomment>
                <enable_comment>1</enable_comment>
            </mbcheckoutcomment>
        </checkout>
    </default>
</config>