<?xml version="1.0"?>
<!--

 */
-->
<config>
    <modules>
        <Intex_Yandex>
            <version>0.1.5</version>
        </Intex_Yandex>
    </modules>
     <global>
        <models>
            <yandex>
                <class>Intex_Yandex_Model</class>
            </yandex>
        </models>
        <resources>
            <yandex_setup>
                <setup>
                    <module>Intex_Yandex</module>
                    <class>Intex_Yandex_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </yandex_setup>
            <catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catalog_write>
            <catalog_read>
                <connection>
                    <use>core_read</use>
                    </connection>
            </catalog_read>
        </resources>
        <helpers>
            <yandex>
                <class>Intex_Yandex_Helper</class>
            </yandex>
        </helpers>
    </global>
    <frontend>
        <routers>
            <yandex>
                <use>standard</use>
                <args>
                    <module>Intex_Yandex</module>
                    <frontName>yandex</frontName>
                </args>
            </yandex>
        </routers>
        <default>
            <router>yandex</router>
        </default>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <yandex>
                                            <title>Intex Yandex Export</title>
                                        </yandex>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
