<?xml version="1.0"?>
<config>
    <modules>
        <Openstream_GeoIP>
            <version>0.1.0</version>
        </Openstream_GeoIP>
    </modules>
    <global>
        <blocks>
            <geoip>
                <class>Openstream_GeoIP_Block</class>
            </geoip>
        </blocks>
        <models>
            <geoip>
                <class>Openstream_GeoIP_Model</class>
		<resourceModel>geoip_resource</resourceModel>
            </geoip>
            <geoip_resource>
                <class>Openstream_GeoIP_Model_Mysql4</class>
                <entities>
                    <geoip>
                        <table>geoip</table>
                    </geoip>
                </entities>
            </geoip_resource>
        </models>
        <resources>
            <geoip_setup>
                <setup>
                    <module>Openstream_GeoIP</module>
                    <!--<class>Openstream_GeoIP_Model_Resource_Setup</class>-->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </geoip_setup>
            <geoip_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </geoip_write>
            <geoip_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </geoip_read>
        </resources>
        <helpers>
            <geoip>
                <class>Openstream_GeoIP_Helper</class>
            </geoip>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <geoip>
                        <type>singleton</type>
                        <class>geoip/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </geoip>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <geoip>
                <use>standard</use>
                <args>
                    <module>Openstream_GeoIP</module>
                    <frontName>geoip</frontName>
                </args>
            </geoip>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <index>
                    <file>openstream/geoip.xml</file>
                </index>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <geoip_update>
                <schedule><cron_expr>0 0 1 * *</cron_expr></schedule>
                <run><model>geoip/cron::run</model></run>
            </geoip_update>
        </jobs>
    </crontab>
</config>
