<?xml version="1.0"?>
<config>
    <modules>
        <Novaworks_SearchByCaterory>
            <version>0.1.0</version>
        </Novaworks_SearchByCaterory>
    </modules>
    <frontend>
        <routers>
            <megasearch>
                <use>standard</use>
                <args>
                    <module>Novaworks_Megasearch</module>
                    <frontName>megasearch</frontName>
                </args>
            </megasearch>
        </routers>
        <layout>
            <updates>
                <megasearch>
                    <file>megasearch.xml</file>
                </megasearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <megasearch>
                <use>admin</use>
                <args>
                    <module>Novaworks_Megasearch</module>
                    <frontName>megasearch</frontName>
                </args>
            </megasearch>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Novaworks_Megasearch>
                            <title>Megasearch Module</title>
                            <sort_order>10</sort_order>
                        </Novaworks_Megasearch>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <megasearch>
                    <file>megasearch.xml</file>
                </megasearch>
            </updates>
        </layout>
    </adminhtml>   
    <global>
<!--        <models>
            <megasearch>
                <class>Novaworks_Megasearch_Model</class>
                <resourceModel>megasearch_mysql4</resourceModel>
            </megasearch>
            <megasearch_adminhtml>
                <class>Novaworks_Megasearch_Adminhtml_Model</class>
            </megasearch_adminhtml>
            <megasearch_mysql4>
                <class>Novaworks_Megasearch_Model_Mysql4</class>
                <entities>
                    <megasearch>
                        <table>megasearch</table>
                    </megasearch>
                </entities>
            </megasearch_mysql4>
        </models>-->
<!--        <resources>
            <megasearch_setup>
                <setup>
                    <module>Novaworks_Megasearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megasearch_setup>
            <megasearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megasearch_write>
            <megasearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megasearch_read>
        </resources>-->
        <blocks>
            <megasearch>
                <class>Novaworks_Megasearch_Block</class>
            </megasearch>
        </blocks>
        <helpers>
            <megasearch>
                <class>Novaworks_Megasearch_Helper</class>
            </megasearch>
        </helpers>
    </global>
    <default>
        <megasearch>
            <settings>
                <enabled>0</enabled>
                <select_category_on_category_pages>1</select_category_on_category_pages>
                <show_subcategories>1</show_subcategories>
                <subcategories_level>4</subcategories_level>
                <indentation_text><![CDATA[_]]></indentation_text>
            </settings>
        </megasearch>
    </default>
</config>