<?xml version="1.0"?>
<config>
	<default>
		<carriers>
			<morphescourier>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<model>Morphes_Courier_Model_Carrier_ShippingMethod</model>
				<name>Courier Shipping</name>
				<title>Courier Shipping</title>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
				<price>0</price>
			</morphescourier>
		</carriers>
	</default>

	<modules>
		<Morphes_Courier>
			<version>0.1.0</version>
		</Morphes_Courier>
	</modules>

	<global>

		<models>
			<morphescourier>
				<class>Morphes_Courier_Model</class>
			</morphescourier>
		</models>

		<resources>
			<morphescourier_setup>

				<setup>
					<module>Morphes_Courier</module>
				</setup>

				<connection>
					<use>core_setup</use>
				</connection>

			</morphescourier_setup>
		</resources>

	</global>

</config>
